::root {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html,
#root,
.App {
  height: 100%;
}

body {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  /* font-size: calc(8 + 4 * ((100vw - 375px) / 1065)); */
  font-size: 16px;
  background: hsl(226, 43%, 10%);
}
